<?xml version="1.0" encoding="utf-8"?>
<Media Key="b82d8034-7e35-4b01-b9a0-25ed35ba1544" Alias="02.svg" Level="2">
  <Info>
    <Parent Key="e9f50786-bcc9-438c-849e-ef25883c9b67">PartnerLogo</Parent>
    <Path>/PartnerLogo/svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-24T09:32:06</CreateDate>
    <NodeName Default="02.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/yy4j4wro/02.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>