<?xml version="1.0" encoding="utf-8"?>
<Media Key="3468da01-070c-4a34-b5c0-f0d81d6103d5" Alias="03.svg" Level="2">
  <Info>
    <Parent Key="e9f50786-bcc9-438c-849e-ef25883c9b67">PartnerLogo</Parent>
    <Path>/PartnerLogo/svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-24T09:32:05</CreateDate>
    <NodeName Default="03.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/4ntnvvqx/03.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>