<?xml version="1.0" encoding="utf-8"?>
<Media Key="d5e9ff98-f956-4a0d-9877-1313676f5afc" Alias="04.svg" Level="2">
  <Info>
    <Parent Key="e9f50786-bcc9-438c-849e-ef25883c9b67">PartnerLogo</Parent>
    <Path>/PartnerLogo/svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-24T09:32:06</CreateDate>
    <NodeName Default="04.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/njbewn0n/04.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>