<?xml version="1.0" encoding="utf-8"?>
<Media Key="c397254e-a525-4e3e-9845-cfeba1d9e3b9" Alias="06.svg" Level="2">
  <Info>
    <Parent Key="e9f50786-bcc9-438c-849e-ef25883c9b67">PartnerLogo</Parent>
    <Path>/PartnerLogo/svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-24T09:32:06</CreateDate>
    <NodeName Default="06.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/xsmdkij4/06.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>