<?xml version="1.0" encoding="utf-8"?>
<Media Key="6197617b-1dae-464c-8db6-666eb8b50ecf" Alias="About" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/About</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-10-23T11:12:06</CreateDate>
    <NodeName Default="About" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>