<?xml version="1.0" encoding="utf-8"?>
<Media Key="3784400f-737e-4db5-ade4-1021b41be953" Alias="AjCarter.svg" Level="2">
  <Info>
    <Parent Key="f12ea592-c086-4378-a902-7383ce7437b4">Team</Parent>
    <Path>/Team/AjCartersvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-06T13:45:07</CreateDate>
    <NodeName Default="AjCarter.svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/5x4dnvlf/ajcarter.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>