<?xml version="1.0" encoding="utf-8"?>
<Media Key="d570e290-5f1f-483b-9cde-54cb02d35ab1" Alias="Banner" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Banner</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-11-05T10:00:52</CreateDate>
    <NodeName Default="Banner" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties />
</Media>