<?xml version="1.0" encoding="utf-8"?>
<Media Key="3cb32e64-4e1a-4ae1-a4a6-f563ebf15fdb" Alias="Brand.svg" Level="2">
  <Info>
    <Parent Key="87b77089-7334-4400-a52e-575ee9bc9f64">Global</Parent>
    <Path>/Global/Brandsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-23T11:30:32</CreateDate>
    <NodeName Default="Brand.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/s0jbdxqb/brand.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>