<?xml version="1.0" encoding="utf-8"?>
<Media Key="daa7d425-6452-4334-8124-8d1b607e72b9" Alias="BrandonKerr.svg" Level="2">
  <Info>
    <Parent Key="f12ea592-c086-4378-a902-7383ce7437b4">Team</Parent>
    <Path>/Team/BrandonKerrsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-06T13:45:07</CreateDate>
    <NodeName Default="BrandonKerr.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/03ubkocj/brandonkerr.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>