<?xml version="1.0" encoding="utf-8"?>
<Media Key="8f655c73-99ef-4a91-b118-82e939e05cd8" Alias="BrandonNewton.svg" Level="2">
  <Info>
    <Parent Key="f12ea592-c086-4378-a902-7383ce7437b4">Team</Parent>
    <Path>/Team/BrandonNewtonsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-06T13:45:07</CreateDate>
    <NodeName Default="BrandonNewton.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/qhqno1pu/brandonnewton.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>