<?xml version="1.0" encoding="utf-8"?>
<Media Key="2af00fb2-d22e-4dfc-95bf-af27761b8372" Alias="dot-map 1.svg" Level="2">
  <Info>
    <Parent Key="5635bb76-2e6f-4e6c-9687-f2b79d0bbb38">Client</Parent>
    <Path>/Client/dotMap1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-23T11:18:27</CreateDate>
    <NodeName Default="dot-map 1.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/iczffsbv/dot-map-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>