<?xml version="1.0" encoding="utf-8"?>
<Media Key="f176d717-56f3-4021-b2ec-5b68ab0cfe68" Alias="Dot map.svg" Level="2">
  <Info>
    <Parent Key="9413518d-9307-4f28-9cf5-c01455b18925">Story</Parent>
    <Path>/Story/DotMapsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-23T11:21:21</CreateDate>
    <NodeName Default="Dot map.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/2vvnie5i/dot-map.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>