<?xml version="1.0" encoding="utf-8"?>
<Media Key="87b77089-7334-4400-a52e-575ee9bc9f64" Alias="Global" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Global</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-10-23T11:30:27</CreateDate>
    <NodeName Default="Global" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties />
</Media>