<?xml version="1.0" encoding="utf-8"?>
<Media Key="82138232-60d9-43a4-9385-4e285ddbd285" Alias="Group 110.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Group110svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-10T13:32:00</CreateDate>
    <NodeName Default="Group 110.svg" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ya5lcygc/group-110.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>