<?xml version="1.0" encoding="utf-8"?>
<Media Key="bb0ab78b-2fc7-41a8-8eb0-0eb406d2d54c" Alias="image-21-min 2.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/image21Min2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-12T09:43:50</CreateDate>
    <NodeName Default="image-21-min 2.svg" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/pefkqwo2/image-21-min-2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>