<?xml version="1.0" encoding="utf-8"?>
<Media Key="423d76fe-c7c5-4b2d-bbcd-b186f1105e98" Alias="image-22-min 1.svg" Level="2">
  <Info>
    <Parent Key="0d9d1854-1b31-4aa0-bbbb-b96c4bd2accc">Service</Parent>
    <Path>/Service/image22Min1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-23T11:13:55</CreateDate>
    <NodeName Default="image-22-min 1.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/btfj5ig4/image-22-min-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>