<?xml version="1.0" encoding="utf-8"?>
<Media Key="4ce44740-03cf-4705-aab9-4b2d6b6fb5e4" Alias="image-21-min 1.svg" Level="2">
  <Info>
    <Parent Key="0d9d1854-1b31-4aa0-bbbb-b96c4bd2accc">Service</Parent>
    <Path>/Service/image21Min1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-23T11:13:28</CreateDate>
    <NodeName Default="image-21-min 1.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/wl3enlwu/image-21-min-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>