<?xml version="1.0" encoding="utf-8"?>
<Media Key="45616e99-cec9-4566-81d3-d4403ddf27d2" Alias="image-13-min 1.svg" Level="2">
  <Info>
    <Parent Key="0d9d1854-1b31-4aa0-bbbb-b96c4bd2accc">Service</Parent>
    <Path>/Service/image13Min1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-23T11:13:55</CreateDate>
    <NodeName Default="image-13-min 1.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/npjnhj4s/image-13-min-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>