<?xml version="1.0" encoding="utf-8"?>
<Media Key="608a95e2-bc69-4364-967e-8f4aa401d36f" Alias="image-24-min 1.svg" Level="2">
  <Info>
    <Parent Key="0d9d1854-1b31-4aa0-bbbb-b96c4bd2accc">Service</Parent>
    <Path>/Service/image24Min1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-23T11:13:54</CreateDate>
    <NodeName Default="image-24-min 1.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/caucrats/image-24-min-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>