<?xml version="1.0" encoding="utf-8"?>
<Media Key="4451689c-715e-47af-9491-56b9c257f73b" Alias="KevinGardner.svg" Level="2">
  <Info>
    <Parent Key="f12ea592-c086-4378-a902-7383ce7437b4">Team</Parent>
    <Path>/Team/KevinGardnersvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-06T13:45:07</CreateDate>
    <NodeName Default="KevinGardner.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/n1kphjsf/kevingardner.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>