<?xml version="1.0" encoding="utf-8"?>
<Media Key="0fe95e16-8fe1-49f3-a283-ac335dca2457" Alias="Left banner.svg" Level="2">
  <Info>
    <Parent Key="d570e290-5f1f-483b-9cde-54cb02d35ab1">Banner</Parent>
    <Path>/Banner/LeftBannersvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-05T10:00:58</CreateDate>
    <NodeName Default="Left banner.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/2trfx1p0/left-banner.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>