<?xml version="1.0" encoding="utf-8"?>
<Media Key="675383ff-c711-4482-96b0-527e40b07540" Alias="map 1.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/map1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-11T10:00:39</CreateDate>
    <NodeName Default="map 1.svg" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/bu5pdbik/map-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>