<?xml version="1.0" encoding="utf-8"?>
<Media Key="d2b91bf8-82d2-4053-9439-e19536139ef9" Alias="MirandaDayton.svg" Level="2">
  <Info>
    <Parent Key="f12ea592-c086-4378-a902-7383ce7437b4">Team</Parent>
    <Path>/Team/MirandaDaytonsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-06T13:45:07</CreateDate>
    <NodeName Default="MirandaDayton.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/bktbwmgj/mirandadayton.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>