<?xml version="1.0" encoding="utf-8"?>
<Media Key="0de2b6bc-8bb5-4352-a7e8-b363dc5e194f" Alias="new folder name" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/newFolderName</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-11-10T13:31:46</CreateDate>
    <NodeName Default="new folder name" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties />
</Media>