<?xml version="1.0" encoding="utf-8"?>
<Media Key="6ff9de02-cfdb-48d5-a5a1-1aa95774eb94" Alias="OnlineSignatures.net-302 1.svg" Level="2">
  <Info>
    <Parent Key="6197617b-1dae-464c-8db6-666eb8b50ecf">About</Parent>
    <Path>/About/OnlineSignaturesnet3021svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-23T11:12:10</CreateDate>
    <NodeName Default="OnlineSignatures.net-302 1.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/4brfxdoa/onlinesignaturesnet-302-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>