<?xml version="1.0" encoding="utf-8"?>
<Media Key="e9f50786-bcc9-438c-849e-ef25883c9b67" Alias="PartnerLogo" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/PartnerLogo</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-10-24T09:31:49</CreateDate>
    <NodeName Default="PartnerLogo" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties />
</Media>