<?xml version="1.0" encoding="utf-8"?>
<Media Key="d7c3e470-ddfd-45e3-b2e2-f49a83f8d976" Alias="post2 1.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/post21svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-12T09:43:28</CreateDate>
    <NodeName Default="post2 1.svg" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/qjmhcnpg/post2-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>