<?xml version="1.0" encoding="utf-8"?>
<Media Key="21bb8587-fac4-4a0a-b0d6-8ed29ca643c7" Alias="Rating.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Ratingsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-06T13:46:54</CreateDate>
    <NodeName Default="Rating.svg" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ou2btq45/rating.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>