<?xml version="1.0" encoding="utf-8"?>
<Media Key="eb26be30-da9a-45b9-b1ea-7245159d00fe" Alias="Right banner.svg" Level="2">
  <Info>
    <Parent Key="d570e290-5f1f-483b-9cde-54cb02d35ab1">Banner</Parent>
    <Path>/Banner/RightBannersvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-05T10:00:58</CreateDate>
    <NodeName Default="Right banner.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/yibjicmb/right-banner.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>