<?xml version="1.0" encoding="utf-8"?>
<Media Key="0d9d1854-1b31-4aa0-bbbb-b96c4bd2accc" Alias="Service" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Service</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-10-23T11:13:04</CreateDate>
    <NodeName Default="Service" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>