<?xml version="1.0" encoding="utf-8"?>
<Media Key="47984007-acd3-46ee-b990-5395d0861669" Alias="sl-home2.svg" Level="2">
  <Info>
    <Parent Key="ad225695-0df4-4304-816f-03cdb619a714">Hero</Parent>
    <Path>/Hero/slHome2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-23T11:10:06</CreateDate>
    <NodeName Default="sl-home2.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/4x4dvjoi/sl-home2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>