<?xml version="1.0" encoding="utf-8"?>
<Media Key="b45c2511-551c-4d0e-901e-7b28bf935df0" Alias="TinaFox.svg" Level="2">
  <Info>
    <Parent Key="f12ea592-c086-4378-a902-7383ce7437b4">Team</Parent>
    <Path>/Team/TinaFoxsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-07T09:45:39</CreateDate>
    <NodeName Default="TinaFox.svg" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/2omp2vqh/tinafox.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>