<?xml version="1.0" encoding="utf-8"?>
<Media Key="6110f7fd-0b5f-47dc-bd82-2259d4cc09ae" Alias="TinaFoxImage.svg" Level="2">
  <Info>
    <Parent Key="f12ea592-c086-4378-a902-7383ce7437b4">Team</Parent>
    <Path>/Team/TinaFoxImagesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-06T13:45:07</CreateDate>
    <NodeName Default="TinaFoxImage.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/b3flfa0e/tinafoximage.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>