<?xml version="1.0" encoding="utf-8"?>
<Media Key="c1bb5b5c-7fc4-4471-ba33-ccd133c8c544" Alias="Video 1.svg" Level="2">
  <Info>
    <Parent Key="9413518d-9307-4f28-9cf5-c01455b18925">Story</Parent>
    <Path>/Story/Video1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-23T11:20:35</CreateDate>
    <NodeName Default="Video 1.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/v1tbsi45/video-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>