<?xml version="1.0" encoding="utf-8"?>
<Content Key="70512cde-ddd3-4e68-8f22-1b19da77423e" Alias="About" Level="2">
  <Info>
    <Parent Key="78c4f531-0cf9-42a0-b240-516ee99eafb2">Home</Parent>
    <Path>/Home/About</Path>
    <Trashed>false</Trashed>
    <ContentType>aboutPage</ContentType>
    <CreateDate>2025-10-23T09:43:14</CreateDate>
    <NodeName Default="About" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="7665524b-4944-4609-a897-373c2a857af0">AboutPage</Template>
  </Info>
  <Properties />
</Content>