<?xml version="1.0" encoding="utf-8"?>
<Content Key="4553d0e3-2719-4ea4-a6c2-5974cf8163e3" Alias="Bonds &amp; Commodities" Level="3">
  <Info>
    <Parent Key="29e7a988-0f21-4748-b2a4-a5e60b9fa34f">Services</Parent>
    <Path>/Home/Services/BondsCommodities</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-10-24T10:59:01</CreateDate>
    <NodeName Default="Bonds &amp; Commodities" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a2660386-55fc-4697-833d-c6aed570d61f">ServiceDetail</Template>
  </Info>
  <Properties>
    <bannerTitle>
      <Value><![CDATA[Bonds & Commodities]]></Value>
    </bannerTitle>
    <serviceBodyText>
      <Value><![CDATA[]]></Value>
    </serviceBodyText>
    <serviceDetailAddSection>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "47419afe-8d84-4a3e-8fee-7230fa033137",
      "key": "9a67e2b7-05b8-4fd8-ac68-06ae76f068b0",
      "udi": null,
      "values": [
        {
          "alias": "contactInfoImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "d0e198dd-d2aa-4322-855c-3ab5b391f8d0",
              "mediaKey": "82138232-60d9-43a4-9385-4e285ddbd285",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "contactInfoTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your next project"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "0db1617c-5ba0-4f34-8df4-d92277b1b015",
      "key": "729c2c2a-c0b0-4444-9b09-852da0650eb2",
      "udi": null,
      "values": [
        {
          "alias": "bgColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "",
            "value": "#F7F7F7"
          }
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "9a67e2b7-05b8-4fd8-ac68-06ae76f068b0",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "9a67e2b7-05b8-4fd8-ac68-06ae76f068b0",
        "contentUdi": null,
        "settingsKey": "729c2c2a-c0b0-4444-9b09-852da0650eb2",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </serviceDetailAddSection>
    <serviceDetailAsides>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "46670dd8-7099-4f9e-a7c4-def32eadaea7",
      "key": "0ae6060a-c924-42e2-af9c-6a30a69e2873",
      "udi": null,
      "values": [
        {
          "alias": "infoTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "About Us "
        },
        {
          "alias": "infoImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "27e1dd2c-71d3-46d1-b468-3725a98a938c",
              "mediaKey": "e1fd0cd1-e98e-4828-a53d-e867be64c257",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "infoText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EDolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non\u003C/span\u003E\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "0ae6060a-c924-42e2-af9c-6a30a69e2873",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "0ae6060a-c924-42e2-af9c-6a30a69e2873",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </serviceDetailAsides>
    <serviceDetailImage>
      <Value><![CDATA[[
  {
    "key": "1e85632f-6683-4113-a761-db8eaa506732",
    "mediaKey": "e1fd0cd1-e98e-4828-a53d-e867be64c257",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailImage>
    <serviceDetailText>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003E\u003Cspan style=\u0022color: rgb(83, 86, 86); font-family: Poppins, sans-serif; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 300; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; white-space: pre-wrap; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial; float: none; display: inline !important;\u0022\u003EDolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non\u003C/span\u003E\u003C/p\u003E"
}]]></Value>
    </serviceDetailText>
  </Properties>
</Content>