<?xml version="1.0" encoding="utf-8"?>
<Content Key="c97cf6a4-9b5a-49fb-b929-8052064c96eb" Alias="Contact" Level="2">
  <Info>
    <Parent Key="78c4f531-0cf9-42a0-b240-516ee99eafb2">Home</Parent>
    <Path>/Home/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2025-10-23T09:43:23</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1ac048e9-060f-41f7-b4cf-fce57b22b165">ContactPage</Template>
  </Info>
  <Properties>
    <bannerTitle>
      <Value><![CDATA[Contact Us]]></Value>
    </bannerTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "47419afe-8d84-4a3e-8fee-7230fa033137",
      "key": "a6fb9b65-b7fa-48c2-b135-f69f1ba42f8c",
      "udi": null,
      "values": [
        {
          "alias": "contactInfoImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "760821d5-6da5-4eb0-86e6-d1ada1c4cf17",
              "mediaKey": "82138232-60d9-43a4-9385-4e285ddbd285",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "contactInfoTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your next project"
        }
      ]
    },
    {
      "contentTypeKey": "6cfd763a-aba3-4042-9966-4ab0d0870277",
      "key": "fd2eb013-3a1e-4cc0-aa52-9e6a93d71835",
      "udi": null,
      "values": [
        {
          "alias": "partnerLogoList",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "fe3a3974-74b5-4aab-8b5f-143054977874",
                "key": "e3e65b93-995a-4c28-8fea-c342c4abc192",
                "udi": null,
                "values": [
                  {
                    "alias": "partnerLogo",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "4360488b-d0c1-4243-bdf8-f5a7672d81c5",
                        "mediaKey": "1f983de2-be15-4655-bddc-8d0c29492774",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "partnerTitle",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "FreedomBrid"
                  }
                ]
              },
              {
                "contentTypeKey": "fe3a3974-74b5-4aab-8b5f-143054977874",
                "key": "e6a4ef77-6b5b-4b2a-87d9-b125d2e3707f",
                "udi": null,
                "values": [
                  {
                    "alias": "partnerLogo",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "c535c034-5503-4190-97b8-62e4b81e54e9",
                        "mediaKey": "b82d8034-7e35-4b01-b9a0-25ed35ba1544",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "partnerTitle",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Identity"
                  }
                ]
              },
              {
                "contentTypeKey": "fe3a3974-74b5-4aab-8b5f-143054977874",
                "key": "1b1cb7ba-f226-4e7c-a63f-5afcf04e0872",
                "udi": null,
                "values": [
                  {
                    "alias": "partnerLogo",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "89fa005d-96e6-47a0-9d1e-fae94d06ccea",
                        "mediaKey": "3468da01-070c-4a34-b5c0-f0d81d6103d5",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "partnerTitle",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Natural"
                  }
                ]
              },
              {
                "contentTypeKey": "fe3a3974-74b5-4aab-8b5f-143054977874",
                "key": "9538bf13-0933-48c1-9ec7-30395c3323e0",
                "udi": null,
                "values": [
                  {
                    "alias": "partnerLogo",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "1526ea73-9ba4-4e83-9b84-512aea3afda3",
                        "mediaKey": "d5e9ff98-f956-4a0d-9877-1313676f5afc",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "partnerTitle",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Simpleleaf"
                  }
                ]
              },
              {
                "contentTypeKey": "fe3a3974-74b5-4aab-8b5f-143054977874",
                "key": "861fb054-fa3c-45a2-8f75-2fcd999d7e2f",
                "udi": null,
                "values": [
                  {
                    "alias": "partnerLogo",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "44ba027a-e0eb-4276-8689-8fafeb1cc545",
                        "mediaKey": "1bc4696d-27b3-489b-8dd6-23257fb43022",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "partnerTitle",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Globe"
                  }
                ]
              },
              {
                "contentTypeKey": "fe3a3974-74b5-4aab-8b5f-143054977874",
                "key": "eff856d2-e39a-4f38-a023-938868d1b0b9",
                "udi": null,
                "values": [
                  {
                    "alias": "partnerLogo",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "a3978784-c71e-4b38-985d-f9f03a2f2668",
                        "mediaKey": "c397254e-a525-4e3e-9845-cfeba1d9e3b9",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "partnerTitle",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Fossil"
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "e3e65b93-995a-4c28-8fea-c342c4abc192",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "e6a4ef77-6b5b-4b2a-87d9-b125d2e3707f",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "1b1cb7ba-f226-4e7c-a63f-5afcf04e0872",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "9538bf13-0933-48c1-9ec7-30395c3323e0",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "861fb054-fa3c-45a2-8f75-2fcd999d7e2f",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "eff856d2-e39a-4f38-a023-938868d1b0b9",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "e3e65b93-995a-4c28-8fea-c342c4abc192",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "e6a4ef77-6b5b-4b2a-87d9-b125d2e3707f",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "1b1cb7ba-f226-4e7c-a63f-5afcf04e0872",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "9538bf13-0933-48c1-9ec7-30395c3323e0",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "861fb054-fa3c-45a2-8f75-2fcd999d7e2f",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "eff856d2-e39a-4f38-a023-938868d1b0b9",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    },
    {
      "contentTypeKey": "310b57e8-a005-44d7-ad07-4ce960e12a39",
      "key": "b28215d6-02f2-43ac-a924-9680214fa97a",
      "udi": null,
      "values": [
        {
          "alias": "callbackBgImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "7482d8f2-93f9-49b9-b741-b0ffd7207bcc",
              "mediaKey": "675383ff-c711-4482-96b0-527e40b07540",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "callbackLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Request a call back"
        },
        {
          "alias": "callbackTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your next project"
        },
        {
          "alias": "callbackText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003ELorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas consectetur, ligula semper sagittis lobortis, eros metus efficitur purus\u003C/span\u003E\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "0db1617c-5ba0-4f34-8df4-d92277b1b015",
      "key": "32f39d7d-0647-42d2-82f0-01cc78193bc5",
      "udi": null,
      "values": [
        {
          "alias": "bgColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "",
            "value": "#FFFFFF"
          }
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "a6fb9b65-b7fa-48c2-b135-f69f1ba42f8c",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "fd2eb013-3a1e-4cc0-aa52-9e6a93d71835",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "b28215d6-02f2-43ac-a924-9680214fa97a",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "a6fb9b65-b7fa-48c2-b135-f69f1ba42f8c",
        "contentUdi": null,
        "settingsKey": "32f39d7d-0647-42d2-82f0-01cc78193bc5",
        "settingsUdi": null
      },
      {
        "contentKey": "b28215d6-02f2-43ac-a924-9680214fa97a",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "fd2eb013-3a1e-4cc0-aa52-9e6a93d71835",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>