<?xml version="1.0" encoding="utf-8"?>
<Content Key="c97cf6a4-9b5a-49fb-b929-8052064c96eb" Alias="Contact" Level="2">
  <Info>
    <Parent Key="78c4f531-0cf9-42a0-b240-516ee99eafb2">Home</Parent>
    <Path>/Home/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2025-10-23T09:43:23</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1ac048e9-060f-41f7-b4cf-fce57b22b165">ContactPage</Template>
  </Info>
  <Properties />
</Content>