<?xml version="1.0" encoding="utf-8"?>
<Content Key="78c4f531-0cf9-42a0-b240-516ee99eafb2" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2025-10-23T09:43:03</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="210b3629-6599-4e4e-9e42-cb1646e2b4b3">HomePage</Template>
  </Info>
  <Properties>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "b988282d-3dcf-4329-a092-451cfd8546e7",
      "key": "8fb93e6a-77c1-423d-9792-330c1e57e1b2",
      "udi": null,
      "values": [
        {
          "alias": "heroTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "We bring success to you"
        },
        {
          "alias": "heroText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp class=\u0022hero-text\u0022\u003ELorem ipsum dolor sit amet, consectetur. adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim\u003C/p\u003E\u003Cp\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "heroBgImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "d7b5ba0e-3feb-4d4a-8719-8f4606c0375d",
              "mediaKey": "47984007-acd3-46ee-b990-5395d0861669",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "heroLink",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "Contact Us",
              "target": null,
              "udi": "umb://document/c97cf6a49b5a49fbb9298052064c96eb",
              "url": null,
              "queryString": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "9421a4ce-9015-4ab9-b1ff-3ed1187aa0a6",
      "key": "55af605e-230a-4542-b5d6-c003ededc64b",
      "udi": null,
      "values": [
        {
          "alias": "aboutLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "ABOUT US"
        },
        {
          "alias": "aboutTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "We have 40 years experience"
        },
        {
          "alias": "aboutText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp class=\u0022about-description\u0022\u003E\u201CWe have over 25 years of experience providing expert financial advice to both businesses and individuals.\u201D\u003C/p\u003E\u003Cp class=\u0022about-text-content\u0022\u003EDolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.\u003C/p\u003E"
          }
        },
        {
          "alias": "aboutSignatureImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "d517ba16-0e56-4133-8311-9ced90b696ae",
              "mediaKey": "6ff9de02-cfdb-48d5-a5a1-1aa95774eb94",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "aboutSignature",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Tina Fox - CEO \u0026 Founder"
        }
      ]
    },
    {
      "contentTypeKey": "7635dc0d-a2cb-4d5e-ba8b-fe2c91f24d61",
      "key": "9916c023-d6cb-4529-9772-26ea1884e19a",
      "udi": null,
      "values": [
        {
          "alias": "serviceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "OUR SERVICES"
        },
        {
          "alias": "serviceTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EWe Provide The Solutions \u003C/p\u003E\u003Cp\u003ETo Grow Your Business Faster\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "59797a0a-e780-4ce1-ac91-67a0665a2303",
      "key": "46f4e2bb-192c-4d92-8fad-4c7927eb8c17",
      "udi": null,
      "values": [
        {
          "alias": "clientTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Ch2 style=\u0022text-align: center\u0022\u003EWe are trusted by more than\u003C/h2\u003E\u003Ch2 style=\u0022text-align: center\u0022\u003E\u003Cspan style=\u0022color: #d9c3a9;\u0022\u003E4.000\u002B clients\u003C/span\u003E\u003C/h2\u003E\u003Cp style=\u0022text-align: center\u0022\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "clientText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp style=\u0022text-align: center\u0022\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003ELorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis molestie nulla. Nam accumsanporttitor arcu,ac tincidunt lectus tincidunt sed.\u003C/span\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "clientLink",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "Read our story",
              "target": null,
              "udi": null,
              "url": "/ourstory",
              "queryString": null
            }
          ]
        },
        {
          "alias": "clientBgImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "5c4dc57c-bdd1-4d4c-91cb-7cca11d67a0f",
              "mediaKey": "2af00fb2-d22e-4dfc-95bf-af27761b8372",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "clientImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "f3cfda1d-e9fd-4fa3-9da1-390fec614f79",
              "mediaKey": "febe27a7-e384-41c9-b6f7-417513243690",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "e08d3756-2291-4d65-aeb7-c1c87942ad2f",
      "key": "60b0d552-4c3f-40f4-8724-ecb3fc899703",
      "udi": null,
      "values": [
        {
          "alias": "storyLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "SUCCESS STORIES"
        },
        {
          "alias": "storyTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Success story"
        },
        {
          "alias": "successStoryInfo",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "ac4aaf64-8423-49b0-b10a-7e0b6df04340",
                "key": "cd9383ad-b6d2-4be8-9cf2-1e441ad9c9f2",
                "udi": null,
                "values": [
                  {
                    "alias": "successText",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "More than 100 customers has been served"
                  },
                  {
                    "alias": "successAmount",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "689"
                  }
                ]
              },
              {
                "contentTypeKey": "ac4aaf64-8423-49b0-b10a-7e0b6df04340",
                "key": "24ca7aee-afc0-4011-9f54-0def26e46dc1",
                "udi": null,
                "values": [
                  {
                    "alias": "successText",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "More than 370 projects has been completed"
                  },
                  {
                    "alias": "successAmount",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "370"
                  }
                ]
              },
              {
                "contentTypeKey": "ac4aaf64-8423-49b0-b10a-7e0b6df04340",
                "key": "e889a3cf-964a-4df6-95b9-ba7d19aa0c36",
                "udi": null,
                "values": [
                  {
                    "alias": "successText",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "More than 125 branches has been established in Europe and America"
                  },
                  {
                    "alias": "successAmount",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "125"
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "cd9383ad-b6d2-4be8-9cf2-1e441ad9c9f2",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "24ca7aee-afc0-4011-9f54-0def26e46dc1",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "e889a3cf-964a-4df6-95b9-ba7d19aa0c36",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "cd9383ad-b6d2-4be8-9cf2-1e441ad9c9f2",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "24ca7aee-afc0-4011-9f54-0def26e46dc1",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "e889a3cf-964a-4df6-95b9-ba7d19aa0c36",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        },
        {
          "alias": "storyImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "0da80f32-af91-4c25-97d1-085bccf3c3be",
              "mediaKey": "c1bb5b5c-7fc4-4471-ba33-ccd133c8c544",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "storyBgImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "f18797f3-b1ba-41de-be2d-8c5d9c46a845",
              "mediaKey": "f176d717-56f3-4021-b2ec-5b68ab0cfe68",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "6cfd763a-aba3-4042-9966-4ab0d0870277",
      "key": "162e9d60-b0ed-4d91-b9a6-4d3eef1239eb",
      "udi": null,
      "values": [
        {
          "alias": "partnerLogoList",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "fe3a3974-74b5-4aab-8b5f-143054977874",
                "key": "ccf330fb-f67d-4432-9ecf-285f7f0b37ae",
                "udi": null,
                "values": [
                  {
                    "alias": "partnerLogo",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "c2cbbe6b-71d9-4ba3-9208-5531f060cacb",
                        "mediaKey": "1f983de2-be15-4655-bddc-8d0c29492774",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "partnerTitle",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "FreedomBrid"
                  }
                ]
              },
              {
                "contentTypeKey": "fe3a3974-74b5-4aab-8b5f-143054977874",
                "key": "04b0422d-da6a-4bd1-8170-b3256bc2435b",
                "udi": null,
                "values": [
                  {
                    "alias": "partnerLogo",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "dbc8c6bc-3463-4ba7-8f0b-59b2a4fbce1f",
                        "mediaKey": "b82d8034-7e35-4b01-b9a0-25ed35ba1544",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "partnerTitle",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Identity"
                  }
                ]
              },
              {
                "contentTypeKey": "fe3a3974-74b5-4aab-8b5f-143054977874",
                "key": "2313a19f-7a3c-4091-8808-257408ed83d5",
                "udi": null,
                "values": [
                  {
                    "alias": "partnerLogo",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "69e790d8-f234-42ae-beba-23e337204539",
                        "mediaKey": "3468da01-070c-4a34-b5c0-f0d81d6103d5",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "partnerTitle",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Natural"
                  }
                ]
              },
              {
                "contentTypeKey": "fe3a3974-74b5-4aab-8b5f-143054977874",
                "key": "b27bbad2-4147-4706-913b-5d5c2dbbe4aa",
                "udi": null,
                "values": [
                  {
                    "alias": "partnerLogo",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "c7f74460-6d9a-4a63-90e8-50969c4aa04d",
                        "mediaKey": "d5e9ff98-f956-4a0d-9877-1313676f5afc",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "partnerTitle",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Simpleleaf"
                  }
                ]
              },
              {
                "contentTypeKey": "fe3a3974-74b5-4aab-8b5f-143054977874",
                "key": "f43842f9-4ac4-4b50-9db5-ad216df6d9e2",
                "udi": null,
                "values": [
                  {
                    "alias": "partnerLogo",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "075a83f5-da5f-4bf8-8934-fdd477953f8d",
                        "mediaKey": "1bc4696d-27b3-489b-8dd6-23257fb43022",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "partnerTitle",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Globe"
                  }
                ]
              },
              {
                "contentTypeKey": "fe3a3974-74b5-4aab-8b5f-143054977874",
                "key": "411a374e-52e0-4e1f-9831-6f18b5099f40",
                "udi": null,
                "values": [
                  {
                    "alias": "partnerLogo",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "39bd3282-9293-4a6a-9a96-19a972ec8774",
                        "mediaKey": "c397254e-a525-4e3e-9845-cfeba1d9e3b9",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "partnerTitle",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "FossilGroup"
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "ccf330fb-f67d-4432-9ecf-285f7f0b37ae",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "04b0422d-da6a-4bd1-8170-b3256bc2435b",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "2313a19f-7a3c-4091-8808-257408ed83d5",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "b27bbad2-4147-4706-913b-5d5c2dbbe4aa",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "f43842f9-4ac4-4b50-9db5-ad216df6d9e2",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "411a374e-52e0-4e1f-9831-6f18b5099f40",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "ccf330fb-f67d-4432-9ecf-285f7f0b37ae",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "04b0422d-da6a-4bd1-8170-b3256bc2435b",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "2313a19f-7a3c-4091-8808-257408ed83d5",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "b27bbad2-4147-4706-913b-5d5c2dbbe4aa",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "f43842f9-4ac4-4b50-9db5-ad216df6d9e2",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "411a374e-52e0-4e1f-9831-6f18b5099f40",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "135aecfe-0a15-40e4-9348-34ab1788186d",
      "key": "cabd0f33-d7f1-43a4-806d-07f05cf909c0",
      "udi": null,
      "values": [
        {
          "alias": "showServiceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "serviceBgColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "",
            "value": "#F7F7F7"
          }
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "8fb93e6a-77c1-423d-9792-330c1e57e1b2",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "55af605e-230a-4542-b5d6-c003ededc64b",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "9916c023-d6cb-4529-9772-26ea1884e19a",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "46f4e2bb-192c-4d92-8fad-4c7927eb8c17",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "60b0d552-4c3f-40f4-8724-ecb3fc899703",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "162e9d60-b0ed-4d91-b9a6-4d3eef1239eb",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "8fb93e6a-77c1-423d-9792-330c1e57e1b2",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "55af605e-230a-4542-b5d6-c003ededc64b",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "9916c023-d6cb-4529-9772-26ea1884e19a",
        "contentUdi": null,
        "settingsKey": "cabd0f33-d7f1-43a4-806d-07f05cf909c0",
        "settingsUdi": null
      },
      {
        "contentKey": "46f4e2bb-192c-4d92-8fad-4c7927eb8c17",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "60b0d552-4c3f-40f4-8724-ecb3fc899703",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "162e9d60-b0ed-4d91-b9a6-4d3eef1239eb",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>