<?xml version="1.0" encoding="utf-8"?>
<Content Key="78c4f531-0cf9-42a0-b240-516ee99eafb2" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2025-10-23T09:43:03</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="210b3629-6599-4e4e-9e42-cb1646e2b4b3">HomePage</Template>
  </Info>
  <Properties>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "b988282d-3dcf-4329-a092-451cfd8546e7",
      "key": "8fb93e6a-77c1-423d-9792-330c1e57e1b2",
      "udi": null,
      "values": [
        {
          "alias": "heroTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "We bring success to you"
        },
        {
          "alias": "heroText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp class=\u0022hero-text\u0022\u003ELorem ipsum dolor sit amet, consectetur. adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim\u003C/p\u003E"
          }
        },
        {
          "alias": "heroBgImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "d7b5ba0e-3feb-4d4a-8719-8f4606c0375d",
              "mediaKey": "47984007-acd3-46ee-b990-5395d0861669",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "heroLink",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "Contact Us",
              "target": null,
              "udi": "umb://document/c97cf6a49b5a49fbb9298052064c96eb",
              "url": null,
              "queryString": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "9421a4ce-9015-4ab9-b1ff-3ed1187aa0a6",
      "key": "55af605e-230a-4542-b5d6-c003ededc64b",
      "udi": null,
      "values": [
        {
          "alias": "aboutLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "ABOUT US"
        },
        {
          "alias": "aboutTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "We have 40 years experience"
        },
        {
          "alias": "aboutText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp class=\u0022about-description\u0022\u003E\u201CWe have over 25 years of experience providing expert financial advice to both businesses and individuals.\u201D\u003C/p\u003E\u003Cp class=\u0022about-text-content\u0022\u003EDolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.\u003C/p\u003E"
          }
        },
        {
          "alias": "aboutSignatureImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "d517ba16-0e56-4133-8311-9ced90b696ae",
              "mediaKey": "6ff9de02-cfdb-48d5-a5a1-1aa95774eb94",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "aboutSignature",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Tina Fox - CEO \u0026 Founder"
        }
      ]
    },
    {
      "contentTypeKey": "7635dc0d-a2cb-4d5e-ba8b-fe2c91f24d61",
      "key": "9916c023-d6cb-4529-9772-26ea1884e19a",
      "udi": null,
      "values": [
        {
          "alias": "serviceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "OUR SERVICES"
        },
        {
          "alias": "serviceTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "We Provide The Solutions  To Grow Your Business Faster"
        },
        {
          "alias": "serviceCardList",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "b19a91c6-bd9b-42f7-b9f9-ad6070c5fbd7",
                "key": "b1a15ed8-1cf8-4bf3-8996-bfa044613533",
                "udi": null,
                "values": [
                  {
                    "alias": "serviceCardTitle",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Risk Management"
                  },
                  {
                    "alias": "serviceCardText",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EDolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non\u003C/span\u003E\u003C/p\u003E"
                    }
                  },
                  {
                    "alias": "serviceCardImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "edcd8cf0-e3c7-463d-a6d6-e116724cf769",
                        "mediaKey": "4ce44740-03cf-4705-aab9-4b2d6b6fb5e4",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "b19a91c6-bd9b-42f7-b9f9-ad6070c5fbd7",
                "key": "27c63cf6-8ea1-4c49-a109-179a6167f1e3",
                "udi": null,
                "values": [
                  {
                    "alias": "serviceCardTitle",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Bonds \u0026 Commodities"
                  },
                  {
                    "alias": "serviceCardImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "c94b609e-3771-4ef6-b99b-e448b6ca63d3",
                        "mediaKey": "e1fd0cd1-e98e-4828-a53d-e867be64c257",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "serviceCardText",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EDolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non\u003C/span\u003E\u003C/p\u003E"
                    }
                  }
                ]
              },
              {
                "contentTypeKey": "b19a91c6-bd9b-42f7-b9f9-ad6070c5fbd7",
                "key": "e556c2b6-bfb7-4d44-a42d-d70af4a5bbf8",
                "udi": null,
                "values": [
                  {
                    "alias": "serviceCardTitle",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Assurance \u0026 Audits"
                  },
                  {
                    "alias": "serviceCardImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "2997e4c1-d5ef-4b63-ad9f-9829caa32bf9",
                        "mediaKey": "45616e99-cec9-4566-81d3-d4403ddf27d2",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "serviceCardText",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EDolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non\u003C/span\u003E\u003C/p\u003E"
                    }
                  }
                ]
              },
              {
                "contentTypeKey": "b19a91c6-bd9b-42f7-b9f9-ad6070c5fbd7",
                "key": "5d43c540-0f2d-4a53-ba89-77b91d2907b6",
                "udi": null,
                "values": [
                  {
                    "alias": "serviceCardTitle",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Tax and Trusts"
                  },
                  {
                    "alias": "serviceCardImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "25263fdc-59f2-4d9a-99a8-1cd98e6ac4ff",
                        "mediaKey": "423d76fe-c7c5-4b2d-bbcd-b186f1105e98",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "serviceCardText",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EDolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non\u003C/span\u003E\u003C/p\u003E"
                    }
                  }
                ]
              },
              {
                "contentTypeKey": "b19a91c6-bd9b-42f7-b9f9-ad6070c5fbd7",
                "key": "bf73ccdd-2b56-49fb-9ef3-864e482d716a",
                "udi": null,
                "values": [
                  {
                    "alias": "serviceCardTitle",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Financial Advisor"
                  },
                  {
                    "alias": "serviceCardImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "653a4764-dc37-44d1-9ac1-b0006353c742",
                        "mediaKey": "922af42f-2ce2-4105-aa66-60ca9c597933",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "serviceCardText",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EDolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non\u003C/span\u003E\u003C/p\u003E"
                    }
                  }
                ]
              },
              {
                "contentTypeKey": "b19a91c6-bd9b-42f7-b9f9-ad6070c5fbd7",
                "key": "486e5058-c2b6-4f3d-895e-28e8c639d635",
                "udi": null,
                "values": [
                  {
                    "alias": "serviceCardTitle",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Statistic Advisors"
                  },
                  {
                    "alias": "serviceCardImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "18852d60-b8ff-48d7-9172-fb96bd70bcbf",
                        "mediaKey": "608a95e2-bc69-4364-967e-8f4aa401d36f",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "serviceCardText",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EDolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non\u003C/span\u003E\u003C/p\u003E"
                    }
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "b1a15ed8-1cf8-4bf3-8996-bfa044613533",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "27c63cf6-8ea1-4c49-a109-179a6167f1e3",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "e556c2b6-bfb7-4d44-a42d-d70af4a5bbf8",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "5d43c540-0f2d-4a53-ba89-77b91d2907b6",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "bf73ccdd-2b56-49fb-9ef3-864e482d716a",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "486e5058-c2b6-4f3d-895e-28e8c639d635",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "b1a15ed8-1cf8-4bf3-8996-bfa044613533",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "27c63cf6-8ea1-4c49-a109-179a6167f1e3",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "e556c2b6-bfb7-4d44-a42d-d70af4a5bbf8",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "5d43c540-0f2d-4a53-ba89-77b91d2907b6",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "bf73ccdd-2b56-49fb-9ef3-864e482d716a",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "486e5058-c2b6-4f3d-895e-28e8c639d635",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    },
    {
      "contentTypeKey": "59797a0a-e780-4ce1-ac91-67a0665a2303",
      "key": "46f4e2bb-192c-4d92-8fad-4c7927eb8c17",
      "udi": null,
      "values": [
        {
          "alias": "clientTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp style=\u0022text-align: center\u0022\u003EWe are trusted by more than 4.000\u002B clients\u003C/p\u003E"
          }
        },
        {
          "alias": "clientText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp style=\u0022text-align: center\u0022\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003ELorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis molestie nulla. Nam accumsanporttitor arcu,ac tincidunt lectus tincidunt sed.\u003C/span\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "clientLink",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "Read our story",
              "target": null,
              "udi": null,
              "url": "/ourstory",
              "queryString": null
            }
          ]
        },
        {
          "alias": "clientBgImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "5c4dc57c-bdd1-4d4c-91cb-7cca11d67a0f",
              "mediaKey": "2af00fb2-d22e-4dfc-95bf-af27761b8372",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "clientImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "f3cfda1d-e9fd-4fa3-9da1-390fec614f79",
              "mediaKey": "febe27a7-e384-41c9-b6f7-417513243690",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "e08d3756-2291-4d65-aeb7-c1c87942ad2f",
      "key": "60b0d552-4c3f-40f4-8724-ecb3fc899703",
      "udi": null,
      "values": [
        {
          "alias": "storyLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "SUCCESS STORIES"
        },
        {
          "alias": "storyTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Success story"
        },
        {
          "alias": "successStoryInfo",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "ac4aaf64-8423-49b0-b10a-7e0b6df04340",
                "key": "cd9383ad-b6d2-4be8-9cf2-1e441ad9c9f2",
                "udi": null,
                "values": [
                  {
                    "alias": "successText",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "More than 100 customers has been served"
                  },
                  {
                    "alias": "successAmount",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "689"
                  }
                ]
              },
              {
                "contentTypeKey": "ac4aaf64-8423-49b0-b10a-7e0b6df04340",
                "key": "24ca7aee-afc0-4011-9f54-0def26e46dc1",
                "udi": null,
                "values": [
                  {
                    "alias": "successText",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "More than 370 projects has been completed"
                  },
                  {
                    "alias": "successAmount",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "370"
                  }
                ]
              },
              {
                "contentTypeKey": "ac4aaf64-8423-49b0-b10a-7e0b6df04340",
                "key": "e889a3cf-964a-4df6-95b9-ba7d19aa0c36",
                "udi": null,
                "values": [
                  {
                    "alias": "successText",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "More than 125 branches has been established in Europe and America"
                  },
                  {
                    "alias": "successAmount",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "125"
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "cd9383ad-b6d2-4be8-9cf2-1e441ad9c9f2",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "24ca7aee-afc0-4011-9f54-0def26e46dc1",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "e889a3cf-964a-4df6-95b9-ba7d19aa0c36",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "cd9383ad-b6d2-4be8-9cf2-1e441ad9c9f2",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "24ca7aee-afc0-4011-9f54-0def26e46dc1",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "e889a3cf-964a-4df6-95b9-ba7d19aa0c36",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        },
        {
          "alias": "storyImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "0da80f32-af91-4c25-97d1-085bccf3c3be",
              "mediaKey": "c1bb5b5c-7fc4-4471-ba33-ccd133c8c544",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "storyBgImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "f18797f3-b1ba-41de-be2d-8c5d9c46a845",
              "mediaKey": "f176d717-56f3-4021-b2ec-5b68ab0cfe68",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "135aecfe-0a15-40e4-9348-34ab1788186d",
      "key": "cabd0f33-d7f1-43a4-806d-07f05cf909c0",
      "udi": null,
      "values": [
        {
          "alias": "showServiceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "8fb93e6a-77c1-423d-9792-330c1e57e1b2",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "55af605e-230a-4542-b5d6-c003ededc64b",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "9916c023-d6cb-4529-9772-26ea1884e19a",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "46f4e2bb-192c-4d92-8fad-4c7927eb8c17",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "60b0d552-4c3f-40f4-8724-ecb3fc899703",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "8fb93e6a-77c1-423d-9792-330c1e57e1b2",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "55af605e-230a-4542-b5d6-c003ededc64b",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "9916c023-d6cb-4529-9772-26ea1884e19a",
        "contentUdi": null,
        "settingsKey": "cabd0f33-d7f1-43a4-806d-07f05cf909c0",
        "settingsUdi": null
      },
      {
        "contentKey": "46f4e2bb-192c-4d92-8fad-4c7927eb8c17",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "60b0d552-4c3f-40f4-8724-ecb3fc899703",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>