<?xml version="1.0" encoding="utf-8"?>
<Content Key="29e7a988-0f21-4748-b2a4-a5e60b9fa34f" Alias="Services" Level="2">
  <Info>
    <Parent Key="78c4f531-0cf9-42a0-b240-516ee99eafb2">Home</Parent>
    <Path>/Home/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>servicesPage</ContentType>
    <CreateDate>2025-10-23T09:43:31</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="725f199a-0c30-48e5-af95-31d11504aae2">ServicesPage</Template>
  </Info>
  <Properties />
</Content>