<?xml version="1.0" encoding="utf-8"?>
<Content Key="29e7a988-0f21-4748-b2a4-a5e60b9fa34f" Alias="Services" Level="2">
  <Info>
    <Parent Key="78c4f531-0cf9-42a0-b240-516ee99eafb2">Home</Parent>
    <Path>/Home/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>servicesPage</ContentType>
    <CreateDate>2025-10-23T09:43:31</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="725f199a-0c30-48e5-af95-31d11504aae2">ServicesPage</Template>
  </Info>
  <Properties>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "7635dc0d-a2cb-4d5e-ba8b-fe2c91f24d61",
      "key": "2c2a68e4-01a3-4a4a-8908-91b6649338d2",
      "udi": null,
      "values": [
        {
          "alias": "serviceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Our Services"
        },
        {
          "alias": "serviceTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp style=\u0022text-align: center\u0022\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EWe Provide The Solutions\u003C/span\u003E\u003Cbr\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003ETo Grow Your Business Faster\u003C/span\u003E\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "135aecfe-0a15-40e4-9348-34ab1788186d",
      "key": "4c01d3d6-ff64-4296-9d1b-1b6067c4cd72",
      "udi": null,
      "values": [
        {
          "alias": "serviceBgColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "",
            "value": "#FFFFFF"
          }
        },
        {
          "alias": "showServiceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "2c2a68e4-01a3-4a4a-8908-91b6649338d2",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "2c2a68e4-01a3-4a4a-8908-91b6649338d2",
        "contentUdi": null,
        "settingsKey": "4c01d3d6-ff64-4296-9d1b-1b6067c4cd72",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>