<?xml version="1.0" encoding="utf-8"?>
<Content Key="b579ae5e-0795-44d5-b58b-030b776ebc50" Alias="Site Settings" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SiteSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>siteSettings</ContentType>
    <CreateDate>2025-10-23T11:30:34</CreateDate>
    <NodeName Default="Site Settings" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contactAddress>
      <Value><![CDATA[]]></Value>
    </contactAddress>
    <contactEmail>
      <Value><![CDATA[]]></Value>
    </contactEmail>
    <contactPhone>
      <Value><![CDATA[]]></Value>
    </contactPhone>
    <siteLogo>
      <Value><![CDATA[[
  {
    "key": "7946ba45-39a8-4083-be20-c078ccc78872",
    "mediaKey": "3cb32e64-4e1a-4ae1-a4a6-f563ebf15fdb",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </siteLogo>
    <siteName>
      <Value><![CDATA[Onatrix]]></Value>
    </siteName>
    <socialMediaList>
      <Value><![CDATA[]]></Value>
    </socialMediaList>
  </Properties>
</Content>