<?xml version="1.0" encoding="utf-8"?>
<Content Key="b579ae5e-0795-44d5-b58b-030b776ebc50" Alias="Site Settings" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SiteSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>siteSettings</ContentType>
    <CreateDate>2025-10-23T11:30:34</CreateDate>
    <NodeName Default="Site Settings" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contactAddress>
      <Value><![CDATA[Klarabergsviadukten 90, 111 64 Stockholm]]></Value>
    </contactAddress>
    <contactEmail>
      <Value><![CDATA[sales@onatrix.com]]></Value>
    </contactEmail>
    <contactPhone>
      <Value><![CDATA[+46 8 123 456 75]]></Value>
    </contactPhone>
    <copyrightText>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003E\u00A9 Onatrix. All Rights Reserved. Credits to\u003C/span\u003E\u003Cem\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003E \u003C/span\u003E\u003C/em\u003E\u003Cspan style=\u0022white-space: pre-wrap;color: #d9c3a9;\u0022\u003EThemesflat\u003C/span\u003E\u003C/p\u003E"
}]]></Value>
    </copyrightText>
    <siteLogo>
      <Value><![CDATA[[
  {
    "key": "7946ba45-39a8-4083-be20-c078ccc78872",
    "mediaKey": "3cb32e64-4e1a-4ae1-a4a6-f563ebf15fdb",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </siteLogo>
    <siteName>
      <Value><![CDATA[Onatrix]]></Value>
    </siteName>
    <socialMediaList>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "6ad9f565-a983-4222-b6ac-d8e764db2fa8",
      "key": "d867b3c0-b198-4633-98ec-d2b9b072914f",
      "udi": null,
      "values": [
        {
          "alias": "platformName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Facebook"
          ]
        },
        {
          "alias": "socialMediaAccount",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://www.facebook.com"
        }
      ]
    },
    {
      "contentTypeKey": "6ad9f565-a983-4222-b6ac-d8e764db2fa8",
      "key": "3df69594-a3cc-48c2-a1df-51ef7dca95fe",
      "udi": null,
      "values": [
        {
          "alias": "platformName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Linkedin"
          ]
        },
        {
          "alias": "socialMediaAccount",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://www.linkedin.com"
        }
      ]
    },
    {
      "contentTypeKey": "6ad9f565-a983-4222-b6ac-d8e764db2fa8",
      "key": "cd4f4919-8cea-4c32-a0e9-79bf7b879fcf",
      "udi": null,
      "values": [
        {
          "alias": "platformName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "X"
          ]
        },
        {
          "alias": "socialMediaAccount",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://www.x.com"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "d867b3c0-b198-4633-98ec-d2b9b072914f",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "3df69594-a3cc-48c2-a1df-51ef7dca95fe",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "cd4f4919-8cea-4c32-a0e9-79bf7b879fcf",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "d867b3c0-b198-4633-98ec-d2b9b072914f",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "cd4f4919-8cea-4c32-a0e9-79bf7b879fcf",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "3df69594-a3cc-48c2-a1df-51ef7dca95fe",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </socialMediaList>
  </Properties>
</Content>