<?xml version="1.0" encoding="utf-8"?>
<Content Key="455a4c28-e0fe-4848-b75b-35c46f694d2a" Alias="Statistic Advisors" Level="3">
  <Info>
    <Parent Key="29e7a988-0f21-4748-b2a4-a5e60b9fa34f">Services</Parent>
    <Path>/Home/Services/StatisticAdvisors</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-10-24T11:00:06</CreateDate>
    <NodeName Default="Statistic Advisors" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a2660386-55fc-4697-833d-c6aed570d61f">ServiceDetail</Template>
  </Info>
  <Properties>
    <serviceDetailImage>
      <Value><![CDATA[[
  {
    "key": "888e63f1-a1cc-4dfa-b1f6-e50b3fa5cebe",
    "mediaKey": "608a95e2-bc69-4364-967e-8f4aa401d36f",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailImage>
    <serviceDetailText>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003E\u003Cspan style=\u0022color: rgb(83, 86, 86); font-family: Poppins, sans-serif; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 300; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; white-space: pre-wrap; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial; float: none; display: inline !important;\u0022\u003EDolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non\u003C/span\u003E\u003C/p\u003E"
}]]></Value>
    </serviceDetailText>
  </Properties>
</Content>