<?xml version="1.0" encoding="utf-8"?>
<Content Key="455a4c28-e0fe-4848-b75b-35c46f694d2a" Alias="Statistic Advisors" Level="3">
  <Info>
    <Parent Key="29e7a988-0f21-4748-b2a4-a5e60b9fa34f">Services</Parent>
    <Path>/Home/Services/StatisticAdvisors</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-10-24T11:00:06</CreateDate>
    <NodeName Default="Statistic Advisors" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a2660386-55fc-4697-833d-c6aed570d61f">ServiceDetail</Template>
  </Info>
  <Properties>
    <bannerTitle>
      <Value><![CDATA[Statistic Advisors]]></Value>
    </bannerTitle>
    <serviceBodyText>
      <Value><![CDATA[]]></Value>
    </serviceBodyText>
    <serviceDetailAddSection>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "47419afe-8d84-4a3e-8fee-7230fa033137",
      "key": "ec5e3e79-d422-4a5c-adc7-25592d35c80f",
      "udi": null,
      "values": [
        {
          "alias": "contactInfoImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "5de2fd38-159e-450e-9535-a3f1cbc8beda",
              "mediaKey": "82138232-60d9-43a4-9385-4e285ddbd285",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "contactInfoTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your next project"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "0db1617c-5ba0-4f34-8df4-d92277b1b015",
      "key": "54db76a8-6523-4639-b202-d1cdb40b71bb",
      "udi": null,
      "values": [
        {
          "alias": "bgColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "",
            "value": "#F7F7F7"
          }
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "ec5e3e79-d422-4a5c-adc7-25592d35c80f",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "ec5e3e79-d422-4a5c-adc7-25592d35c80f",
        "contentUdi": null,
        "settingsKey": "54db76a8-6523-4639-b202-d1cdb40b71bb",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </serviceDetailAddSection>
    <serviceDetailAsides>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "46670dd8-7099-4f9e-a7c4-def32eadaea7",
      "key": "66a68e40-44dc-4866-b466-efa4c61dae59",
      "udi": null,
      "values": [
        {
          "alias": "infoTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "About Us"
        },
        {
          "alias": "infoImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "0c0a86c7-5ad6-45b1-b63e-31003407cbd3",
              "mediaKey": "608a95e2-bc69-4364-967e-8f4aa401d36f",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "infoText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EDolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non\u003C/span\u003E\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "66a68e40-44dc-4866-b466-efa4c61dae59",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "66a68e40-44dc-4866-b466-efa4c61dae59",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </serviceDetailAsides>
    <serviceDetailImage>
      <Value><![CDATA[[
  {
    "key": "888e63f1-a1cc-4dfa-b1f6-e50b3fa5cebe",
    "mediaKey": "608a95e2-bc69-4364-967e-8f4aa401d36f",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailImage>
    <serviceDetailText>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003E\u003Cspan style=\u0022color: rgb(83, 86, 86); font-family: Poppins, sans-serif; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 300; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; white-space: pre-wrap; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial; float: none; display: inline !important;\u0022\u003EDolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non\u003C/span\u003E\u003C/p\u003E"
}]]></Value>
    </serviceDetailText>
  </Properties>
</Content>