<?xml version="1.0" encoding="utf-8"?>
<Content Key="497b51b1-3163-4c10-8c44-9b5c1bfe750a" Alias="Tax and Trusts" Level="3">
  <Info>
    <Parent Key="29e7a988-0f21-4748-b2a4-a5e60b9fa34f">Services</Parent>
    <Path>/Home/Services/TaxAndTrusts</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-10-24T10:59:36</CreateDate>
    <NodeName Default="Tax and Trusts" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a2660386-55fc-4697-833d-c6aed570d61f">ServiceDetail</Template>
  </Info>
  <Properties>
    <serviceDetailImage>
      <Value><![CDATA[[
  {
    "key": "4a69f76d-8422-43f1-8fba-2ca95475150b",
    "mediaKey": "423d76fe-c7c5-4b2d-bbcd-b186f1105e98",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailImage>
    <serviceDetailText>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003E\u003Cspan style=\u0022color: rgb(83, 86, 86); font-family: Poppins, sans-serif; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 300; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; white-space: pre-wrap; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial; float: none; display: inline !important;\u0022\u003EDolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non\u003C/span\u003E\u003C/p\u003E"
}]]></Value>
    </serviceDetailText>
  </Properties>
</Content>