@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #4f5955;
    --sub-color-1: #f2eddc;
    --sub-color-3: #d9c3a9;
    --text-color: #535656;
    --bg-color: #f7f7f7;
    --note-1: #9C9EA6;
    --white-text: #FFF;
    --footer-bg-color: #0e0e0e;
    --font-family: "Poppins", sans-serif;
    --font-thin: 100;
    --font-extralight: 200;
    --font-light: 300;
    --font-normal: 400;
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;
    --font-extra-bold: 800;
}

.body {
    font-family: var(--font-family);
}
h1 {
    font-size: 70px;
    font-weight: bold;
    font-family: var(--font-family);
    color: var(--text-color);
}
h2 {
    font-size: 40px;
    font-weight: bold;
    font-family: var(--font-family);
    color: var(--text-color);
}
h4 {
    font-size: 25px;
    font-weight: var(--font-semi-bold);
    font-family: var(--font-family);
    color: var(--text-color);
}
h5 {
    font-size: 22px;
    font-weight: var(--font-semi-bold);
    font-family: var(--font-family);
    color: var(--text-color);
}
h6 {
    font-size: 20px;
    font-weight: var(--font-bold);
    font-family: var(--font-family);
    color: var(--primary-color);
}
.label {
    font-size: 14px;
    font-weight: var(--font-bold);
    font-family: var(--font-family);
    color: var(--sub-color-3);
}
.text-primary{
    color: var(--text-color);
}
.text-sub-1 {
    color: var(--sub-color-1);
}
.text-sub-3{
    color: var(--sub-color-3);
}

.rte-ul{
    padding-left: 1rem;
    line-height: 2rem;
    li::marker{
              color: var(--sub-color-3);
          
      }
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    width: 1174px;
    margin: 0 auto;
    padding: 20px 0 20px 0;
    box-sizing: border-box;
}


/* header styles */


.top-banner {
    background-color: var(--primary-color);
}

.top-banner-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    height: 30px;
    p{
        font-family: var(--font-family);
        font-weight: var(--font-normal);
        color: var(--white-text);
        font-size: 13px;
     }

}

.icons {
    cursor: pointer;
    display: flex;
    align-items: stretch;
    height: 30px;
    i{
        display: flex;
        align-items: center;
        font-size: 14px;
        padding-left: 1rem;
        padding-right: 1rem;
        color: #fff;
        border-left: #767676 1px solid;
        border-right: #767676 1px solid;
     }

    i:nth-child(2) {
    border-left: none;
    border-right: none;
    }

}

.header-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;
    width: 100%;
}

.logo {
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}

    .nav-links li {
        margin: 0 15px;
    }

    .nav-links a {
        text-decoration: none;
        font-family: var(--font-family);
        font-weight: var(--font-bold);
        color: var(--text-color);
    }

        .nav-links a:hover {
            color: var(--sub-color-3);
        }

.search {
    background-color: transparent;
    border: none;
    width: 50px;
    i{
        font-size: 16px;
    }

}

/* Breadcrumb banner */

.banner-bg{
    background-color: var(--bg-color);
    position: relative;
    height: 245px;

}
.img-left {
    position: absolute;
    left: 0;
    bottom: 0;
}
.img-right {
    position: absolute;
    right: 0;
    top: 0;
}
.breadcrumb-grid{
    display: grid;
    place-items: center;
    padding-top: 5rem;
}
.breadcrumb-title {
    font-family: var(--font-family);
}
.breadcrumb {
    list-style: none;
    font-family: var(--font-family);
    font-weight: var(--font-normal);
    font-size: 14px;
    display: flex;
    align-items: center;
    li{
          a{             
                text-decoration: none;
                color: var(--text-color);
            }
      }
    .active {
        color: var(--sub-color-3);
    }
}

/*hero styling*/


.hero {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    margin-left: calc(50% - 50vw);
    height: 552px;
}


.hero-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.hero-title {
    font-weight: var(--font-bold);
    font-family: var(--font-family);
    color: var(--text-color);
    z-index: 1000;
    width: 535px;
    height: 160px;
    margin-top: 5rem;
    line-height: 1.2;
}

.hero-text {
    z-index: 1000;
    width: 570px;
    height: 96px;
    font-size: 16px;
    font-weight: var(--font-normal);
    font-family: var(--font-family);
    color: var(--text-color);
}

.contact-btn {
    width: 182px;
    height: 57px;
    background-color: var(--primary-color);
    font-family: var(--font-family);
    font-weight: var(--font-bold);
    color: var(--sub-color-1);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    z-index: 1000;
    display: grid;
    place-content: center;
    text-decoration: none;
}


/*About Style*/

.about {
    margin-top: 3rem;
    display: flex;
    position: relative;
    margin-bottom: 5rem;
}

.about-text {
    width: 55%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.about-header {
    display: flex;
    flex-direction: column;
}


.about-title {
    font-weight: var(--font-bold);
    font-family: var(--font-family);
    color: var(--text-color);
}

.about-description {
    font-size: 20px;
    font-weight: var(--font-light);
    font-family: var(--font-family);
    font-style: italic;
    color: var(--text-color);
    line-height: 1.5;
    color: var(--text-color);
}

.about-text-content {
    font-size: 14px;
    font-weight: var(--font-normal);
    font-family: var(--font-family);
    color: var(--text-color);
}

.signature {
    width: 160px;
}
/* request callback card styles */
.callback-card {
    width: 470px;
    height: 572px;
    box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.1);
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #fff;
}

.callback-title {
    background-color: var(--primary-color);
    width: 100%;
    height: auto;
    padding: 1.5rem;
}

    .callback-title h3 {
        font-size: 30px;
        font-weight: var(--font-bold);
        font-family: var(--font-family);
        color: var(--sub-color-1);
    }

.callback-text {
    font-size: 13px;
    font-weight: var(--font-normal);
    font-family: var(--font-family);
    font-style: italic;
    color: var(--text-color);
}

.callback-form {
    padding: 1.5rem;
}

    .callback-form form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-top: 1rem;
        input{
            width: 100%;
            height: 50px;
            border: 1px solid #c4c4c4;
            border-radius: 4px;
            padding: 0 10px;
            font-size: 14px;
            font-family: var(--font-family);
            font-weight: var(--font-normal);
            color: var(--text-color);
         }
         input:focus{
             outline: none;
         }
}

select {
    width: 100%;
    height: 50px;
    border: 1px solid #c4c4c4;
    border-radius: 4px;
    padding: 0 10px;
    font-size: 14px;
    font-family: var(--font-family);
    font-weight: var(--font-normal);
    color: var(--text-color);
}

button {
    width: 100%;
    height: 50px;
    background-color: var(--sub-color-1);
    border: none;
    border-radius: 4px;
    font-size: 14px;
    font-family: var(--font-family);
    font-weight: var(--font-bold);
    color: var(--primary-color);
    cursor: pointer;
}


/* Service Style */


.services {
    
}

.services-title {
    font-family: var(--font-family);
    font-weight: var(--font-bold);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;

p {
    font-size: 40px;
    color: var(--text-color);
    text-align: center;
}

}
/* service card styles */
.services-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 5rem;
    
}


.service-card {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    width: 370px;
    height: auto;
    background-color: #fff;
    a{
         text-decoration: none;
     }
     img{
         width: 100%;
         height: auto;
     }
}
.service-card:hover{
    box-shadow: 1px 1px 5px Gray;
    width: 380px;
}

.service-card-title {
    padding: 1.5rem;
    font-size: 22px;
    font-weight: var(--font-semi-bold);
    font-family: var(--font-family);
    color: var(--primary-color);
}

.service-card-text {
    padding: 1.5rem;
    font-size: 14px;
    font-weight: var(--font-normal);
    font-family: var(--font-family);
    color: var(--text-color);
}


/* Clients Style */


.clients {
    
    background-repeat: no-repeat;
    background-position: center;
}

.clients-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    gap: 2rem;
    padding-bottom: 0;
}

.clients-title {
    text-align: center;
    font-weight: var(--font-bold);
    font-family: var(--font-family);
    color: var(--primary-color);
    span{
        color: var(--sub-color-3);
    }
}

.clients-text {
    font-weight: var(--font-normal);
    font-family: var(--font-family);
    color: var(--text-color);
    text-align: center;
    width: 770px;
    p{
        font-size: 16px;
    }

}

.story-btn {
    width: 200px;
    height: auto;
    background-color: var(--primary-color);
    font-family: var(--font-family);
    font-weight: var(--font-bold);
    color: var(--sub-color-1);
    border: none;
    border-radius: 8px;
    padding: 1rem;
    text-decoration: none;
    text-align: center;
}


/* Story Styles */


.story {
    background-color: var(--primary-color);
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    margin-bottom: 16rem;
}

.story-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    img

{
    position: absolute;
    top: 60%;
}

}

.story-header {
    text-align: center;
    margin-top: 5rem;
    h2{
          color: var(--white-text);
      }
}

.story-content {
    font-family: var(--font-family);
    font-weight: var(--font-semi-bold);
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 26rem;
    span{
        color: var(--sub-color-3);
        font-size: 100px;
}

    p {
        color: #fff;
        font-size: 18px;
        text-align: center;
    }

}

.story-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 370px;
}


/* Partner Style */


.companies {
    margin-bottom: 5rem;
}

.companies-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    flex-wrap: wrap;
}

.companies-li {
    list-style: none;
}


/* About Info */

.about-info-flex{
    display: flex;
    gap: 3rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
}
.about-info-img-text{
    font-family: var(--font-family);
    font-size: 16px;
    font-style: italic;
    font-weight: var(--font-normal);
    color: var(--text-color);

}
.about-info-text {
    font-family: var(--font-family);
    font-size: 14px;
    color: var(--text-color);
    font-weight: normal;
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
}
.about-info-title {
    font-size: 20px;
    font-style: italic;
    font-weight: var(--font-light);
}


/* review style */

.review{
    background-color: var(--bg-color);
}
.review-flex{
    display: flex;
    gap: 3rem;
    padding: 0;
    height: 511px;
}
.review-content {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    width: 600px;
    align-self: center;
    font-family: var(--font-family);
    h2{
          width: 70%;
          line-height: 50px;
      }
      p{    
          font-size: 20px;
          font-style: italic;
          font-weight: var(--font-light);
          color: var(--text-color);
      }
      img{
          width: 15%;
      }
      .reviewer-name{
          font-size: 14px;
          font-weight: var(--font-normal);
          color: var(--text-color);
      }
      .reviewer-company{
          font-size: 20px;
          font-style: italic;
          font-weight: var(--font-normal);
          color: var(--text-color);
      }
}
.review-image{
    width: 100%;
    max-width: 500px;
}


/* Team Style */
.team-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
}
.team-header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team-members{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-evenly;
}
.big-card{
    width: calc(33% - 1rem);
}
.small-card{
    width: calc(25% - 1rem);
}
/* Team Member Item Style */

.team-member-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border: solid 1px #EAEAEA;
}
.team-member-image{
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.team-member-content {
    padding: 1rem;
    font-family: var(--font-family);
}
.team-member-name{
    font-size: 22px;
    font-weight: var(--font-semi-bold);
    color: var(--text-color);
}
.team-member-role {
    font-size: 13px;
    font-weight: var(--font-normal);
    color: var(--note-1);
}


/* Contact Info Style */

.contact-info-section{
    padding-top: 3rem;
}
.contact-info-flex {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 0;
}

.contact-info{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-family: var(--font-family);
    margin-top: 2rem;
   
}
.contact-address, .contact-phone,.contact-email{
    display: flex;
    gap: 0.5rem;
    i{
         display: flex;
         gap: 0.3rem;
         color: var(--sub-color-3);
         padding-top: 0.1rem;
         
     }
    
    .contact-info-details{
        display: flex;
        flex-direction: column;
        align-items: self-start;
        span{
            font-family: var(--font-family);
            font-size: 14px;
            font-weight: var(--font-semi-bold);
            color: var(--primary-color);
        }
        p{
            font-size: 14px;
            color: var(--text-color);
            font-weight: var(--font-normal);
        }
    }

}

/* Callback Section Style */

.callback-section {
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 748px;
    position: relative;
    margin-bottom: 8rem;
    .container{
                  padding: 0 !important;
              }
}
.callback-section-card {
    background-color: var(--white-text);
    padding: 2rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 40%;
    box-shadow: 1px 1px 20px gray;
    border-radius: 4px;
}
.callback-section-header {
    max-width: 500px;
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.callback-section-form form {
    width: 1000px;
    display: grid !important;
    grid-template-columns: 50% 2fr !important;
}
.callback-btn{
    place-self: center;
    margin-top: 1rem;
}
/* Service Detail Style */
.service-detail-flex{
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
}
.mail-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 4px;
    padding: 20px 20px 30px 20px;
    margin-top: 2rem;
    text-align: left;
    gap: 2rem;
    background-color: var(--primary-color);
    font-family: var(--font-family);
    position: relative;
    overflow: hidden;
    h5{
          color: var(--sub-color-1)
      }
      p{
          color: var(--white-text);
          font-weight: var(--font-light);
      }
}

.envelope-bg {
    position: absolute;
    font-size: 200px;
    transform: rotate(-15deg);
    right: -10%;
    bottom: -25%;
    z-index: 2000;
    color: gray;
}

.email-box-input {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 52px;
    border: 1px solid var(--gray-ebebeb);
    border-radius: 4px;
    padding-left: 1rem;
    color: var(--note-1);
    font-family: var(--font-family);
    font-style: italic;
    &::placeholder{
    color: var(--note-1);
    }
    &:focus{
        outline: none;
    }
}

.form-input {
    position: relative;
    z-index: 2001;
}

.input-box {
    position: absolute;
    bottom: 50%;
    transform: translateY(50%);
    right: 10%;
    color: var(--note-1);
}
.aside-grayline{
    border-left: solid 1px #e3e3e3;
    height: auto;
}
.rte-text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: var(--text-color);
    font-size: 14px;
    font-family: var(--font-family);
    font-weight: var(--font-normal);
}

.service-form{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
    margin-top: 5rem;
    input{
        border: 1px solid #e3e3e3;
        padding: 1rem;
        border-radius: 4px;
        width: 100%;
    }
    textarea{
        border: 1px solid #e3e3e3;
        height: 200px;
        border-radius: 4px;
        padding: 1rem;
    }
    input:focus{
        outline: none;

    }
    textarea:focus{
        outline: none;
    }
}
.service-form-contact{
    display: flex;
    gap: 2rem;
    width: 100%;
    justify-content: space-between;
}
.submit-btn:small{
    background-color: var(--primary-color);
}
/*Info Card Item Style*/

.aside-flex{
    display: flex;
    flex-direction: column;
    gap: 1rem;

    p{
         font-size: 14px;
         font-family: var(--font-family);
         font-weight: var(--font-normal);
         color: var(--text-color);
     }
}
/* Footer Style */
.footer {
    background-color: var(--footer-bg-color);
}

.footer-content {
    font-family: var(--font-family);
    font-weight: var(--font-normal);
    color: var(--text-color);
    p{
        font-size: 14px;    
     }

}