@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #4f5955;
    --sub-color-1: #f2eddc;
    --sub-color-3: #d9c3a9;
    --text-color: #535656;
    --bg-color: #f7f7f7;
    --footer-bg-color: #0e0e0e;
    --font-family: "Poppins", sans-serif;
    --font-light: 200;
    --font-normal: 300;
    --font-medium: 400;
    --font-semi-bold: 500;
    --font-bold: 600;
    --font-extra-bold: 900;
}

.body {
    font-family: var(--font-family);
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    width: 1240px;
    margin: 0 auto;
    padding: 20px 0 20px 0;
    box-sizing: border-box;
}
/* header styles */
.top-banner {
    background-color: var(--primary-color);
}

.top-banner-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    height: 30px;
    p

{
    font-family: var(--font-family);
    font-weight: var(--font-normal);
    color: #fff;
    font-size: 13px;
}

}

.icons {
    cursor: pointer;
    display: flex;
    align-items: stretch;
    /* gap: 1.5rem; */
    height: 30px;
    i

{
    display: flex;
    align-items: center;
    font-size: 14px;
    padding-left: 1rem;
    padding-right: 1rem;
    color: #fff;
    border-left: #767676 1px solid;
    border-right: #767676 1px solid;
}

i:nth-child(2) {
    border-left: none;
    border-right: none;
}

}

.header-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;
    width: 100%;
}

.logo {
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}

    .nav-links li {
        margin: 0 15px;
    }

    .nav-links a {
        text-decoration: none;
        font-family: var(--font-family);
        font-weight: var(--font-bold);
        color: var(--text-color);
    }

        .nav-links a:hover {
            color: var(--sub-color-3);
        }

.search {
    background-color: transparent;
    border: none;
    i

{
    font-size: 16px;
}

}

/*hero styling*/
.hero {
    position: relative;
}

.hero-image {
    img

{
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    margin-left: calc(50% - 50vw);
    height: auto;
    position: absolute;
    right: 0;
}

}

.hero-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.hero-title {
    font-size: 70px;
    font-weight: var(--font-bold);
    font-family: var(--font-family);
    color: var(--text-color);
    z-index: 1000;
    width: 535px;
    height: 160px;
    margin-top: 5rem;
    line-height: 1.2;
}

.hero-text {
    z-index: 1000;
    width: 570px;
    height: 96px;
    font-size: 16px;
    font-weight: var(--font-normal);
    font-family: var(--font-family);
    color: var(--text-color);
}

.contact-btn {
    width: 182px;
    height: 57px;
    background-color: var(--primary-color);
    font-family: var(--font-family);
    font-weight: var(--font-bold);
    color: var(--sub-color-1);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    z-index: 1000;
    display: grid;
    place-content: center;
    text-decoration: none;
}
