<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="06019b6e-e96e-4534-83e3-3a0f48b63210" Alias="homePage" Level="2">
  <Info>
    <Name>Home Page</Name>
    <Icon>icon-home</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>HomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="210b3629-6599-4e4e-9e42-cb1646e2b4b3">HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="caa2f78f-dc27-435b-b9ca-2c650b9e12b5" SortOrder="0">aboutPage</ContentType>
    <ContentType Key="0d6abc40-342b-4976-acca-cda799b8d93e" SortOrder="1">contactPage</ContentType>
    <ContentType Key="b07aab0c-f534-4eaf-83bc-77aa4105982f" SortOrder="2">servicesPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>11809be0-0b19-4c2b-a925-af58700a1b5f</Key>
      <Name>Sections</Name>
      <Alias>sections</Alias>
      <Definition>6b16bf93-ec5c-4e9f-bd61-405c7e1593f0</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>03abe5a9-9e17-4eca-8746-813484e7ce28</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>