<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b07aab0c-f534-4eaf-83bc-77aa4105982f" Alias="servicesPage" Level="2">
  <Info>
    <Name>Services Page</Name>
    <Icon>icon-wrench</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>ServicesPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="725f199a-0c30-48e5-af95-31d11504aae2">ServicesPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>