<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b07aab0c-f534-4eaf-83bc-77aa4105982f" Alias="servicesPage" Level="2">
  <Info>
    <Name>Services Page</Name>
    <Icon>icon-wrench</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="6f888e05-370b-4c6b-b475-b49cc838def0">breadcrumbBanner</Composition>
    </Compositions>
    <DefaultTemplate>ServicesPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="725f199a-0c30-48e5-af95-31d11504aae2">ServicesPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="b704a70a-361f-4d28-ad25-2692265148c1" SortOrder="0">serviceDetail</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>50aa2a8d-e170-4829-b7ec-9922f8d63205</Key>
      <Name>Sections</Name>
      <Alias>sections</Alias>
      <Definition>6b16bf93-ec5c-4e9f-bd61-405c7e1593f0</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>cd680476-adf7-4f76-acc2-ab5ca3507417</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>