<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6b16bf93-ec5c-4e9f-bd61-405c7e1593f0" Alias="Onatrix Sections" Level="1">
  <Info>
    <Name>Onatrix Sections</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "9421a4ce-9015-4ab9-b1ff-3ed1187aa0a6"
    },
    {
      "contentElementTypeKey": "b988282d-3dcf-4329-a092-451cfd8546e7"
    }
  ]
}]]></Config>
</DataType>