<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6b16bf93-ec5c-4e9f-bd61-405c7e1593f0" Alias="Onatrix Sections" Level="1">
  <Info>
    <Name>Onatrix Sections</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "9421a4ce-9015-4ab9-b1ff-3ed1187aa0a6"
    },
    {
      "contentElementTypeKey": "b988282d-3dcf-4329-a092-451cfd8546e7"
    },
    {
      "contentElementTypeKey": "59797a0a-e780-4ce1-ac91-67a0665a2303"
    },
    {
      "contentElementTypeKey": "7635dc0d-a2cb-4d5e-ba8b-fe2c91f24d61",
      "settingsElementTypeKey": "135aecfe-0a15-40e4-9348-34ab1788186d"
    },
    {
      "contentElementTypeKey": "e08d3756-2291-4d65-aeb7-c1c87942ad2f"
    },
    {
      "contentElementTypeKey": "6cfd763a-aba3-4042-9966-4ab0d0870277"
    },
    {
      "contentElementTypeKey": "c505a852-689e-4966-956b-0a27db4cce5c"
    },
    {
      "contentElementTypeKey": "9e00c703-9359-4f4d-8ffe-ed54132845f8"
    },
    {
      "contentElementTypeKey": "2ed15dc6-f784-44d0-bec5-3e41c6b74650"
    },
    {
      "contentElementTypeKey": "310b57e8-a005-44d7-ad07-4ce960e12a39"
    },
    {
      "contentElementTypeKey": "47419afe-8d84-4a3e-8fee-7230fa033137",
      "settingsElementTypeKey": "0db1617c-5ba0-4f34-8df4-d92277b1b015"
    }
  ]
}]]></Config>
</DataType>