<?xml version="1.0" encoding="utf-8"?>
<DataType Key="574eba06-2d57-4836-88a1-7f9a8ed3fa2c" Alias="Partner Section - Partner Logo List " Level="1">
  <Info>
    <Name>Partner Section - Partner Logo List </Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "fe3a3974-74b5-4aab-8b5f-143054977874"
    }
  ]
}]]></Config>
</DataType>