<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5a66b579-0d55-438b-8fd3-509cf7542fcb" Alias="Service Section - ServiceCardList " Level="1">
  <Info>
    <Name>Service Section - ServiceCardList </Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "b19a91c6-bd9b-42f7-b9f9-ad6070c5fbd7"
    }
  ]
}]]></Config>
</DataType>