<?xml version="1.0" encoding="utf-8"?>
<DataType Key="64dd1541-cdc6-4dcf-b63e-dd26267bac45" Alias="Service Detail - ServiceDetailAddSection" Level="1">
  <Info>
    <Name>Service Detail - ServiceDetailAddSection</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "47419afe-8d84-4a3e-8fee-7230fa033137",
      "settingsElementTypeKey": "0db1617c-5ba0-4f34-8df4-d92277b1b015"
    }
  ]
}]]></Config>
</DataType>