<?xml version="1.0" encoding="utf-8"?>
<DataType Key="35783bdb-bbb0-4f31-b320-debfbe8465d8" Alias="Service Detail - Aside" Level="1">
  <Info>
    <Name>Service Detail - Aside</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "46670dd8-7099-4f9e-a7c4-def32eadaea7"
    }
  ]
}]]></Config>
</DataType>