<?xml version="1.0" encoding="utf-8"?>
<DataType Key="dd0fe01d-f536-4803-884d-86be22f7fc62" Alias="Single Link Picker" Level="1">
  <Info>
    <Name>Single Link Picker</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MultiUrlPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "maxNumber": 1,
  "minNumber": 0
}]]></Config>
</DataType>