<?xml version="1.0" encoding="utf-8"?>
<DataType Key="81646a2c-66e7-4f93-a2a0-65f7feb851b1" Alias="Site Settings - Social Media List " Level="1">
  <Info>
    <Name>Site Settings - Social Media List </Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "6ad9f565-a983-4222-b6ac-d8e764db2fa8",
      "label": "{umbValue: platformName}"
    }
  ]
}]]></Config>
</DataType>