<?xml version="1.0" encoding="utf-8"?>
<DataType Key="affa6835-142d-4f40-89cc-20ec7d6d93f0" Alias="Story Section - Success Story Info" Level="1">
  <Info>
    <Name>Story Section - Success Story Info</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "ac4aaf64-8423-49b0-b10a-7e0b6df04340"
    }
  ]
}]]></Config>
</DataType>