<?xml version="1.0" encoding="utf-8"?>
<DataType Key="89c4fa32-2f1a-4447-8067-5f5f1ba007ee" Alias="Team Section - Team Member List " Level="1">
  <Info>
    <Name>Team Section - Team Member List </Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "76ba8d93-968f-46d0-b383-570ed54ebebb",
      "label": "{umbValue: teamMemberName }"
    }
  ]
}]]></Config>
</DataType>