@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    var content = (ContentModels.InfoCardItem)Model.Content;

}

<div class="aside-flex">
    <h5>@content.InfoTitle</h5>
    <img src="@content.InfoImage.Url()"/>
    @Html.Raw(content.InfoText)

</div>