@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    var content = (ContentModels.ServiceSection)Model.Content;
    var settings = Model.Settings as ContentModels.ServiceSettings;

}
<section class="services" style="background-color: @settings.ServiceBgColor;">
    <div class="container">
        <div class="services-title">
            @if (settings.ShowServiceLabel)
            {              
                <h2>@content.ServiceLabel</h2>
            }
                @Html.Raw(content.ServiceTitle)
        </div>
        <div class="services-cards">
            @foreach(var card in content.ServiceCardList)
            {
            <partial name="Partials/blocklist/Components/ServiceCardItem" model="card"/>
                
            }
        </div>
    </div>
</section>