@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    var content = (ContentModels.StorySection)Model.Content;

}

<section class="story" style="background-image: url(@content.StoryBgImage.Url());">
    <div class="story-flex container">
        <div class="story-header">
            <span class="label">@content.StoryLabel</span>
            <h2>@content.StoryTitle</h2>
        </div>
        <div class="story-content">
            @foreach(var item in content.SuccessStoryInfo)
            {
                <partial name="Partials/blocklist/Components/SuccessStoryItem" model="item" />
            }
        </div>
        <img src="@content.StoryImage.Url()" alt="" />
    </div>
</section>